body {
    font-family: Arial, sans-serif;
    background-image: url('vector-abstract-technology-background-wavy-600nw-2231203311.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    image-resolution: 1000vh;
}

.container {
    background-color: #024d64;
    padding: 20px;
    color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #02293f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #051314;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

button.delete-btn {
    background-color: #c40202;
}

button.delete-btn:hover {
    background-color: #fd0a0a;
}
